@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

@theme {
    --font-montserrat: "Montserrat", sans-serif;
    --font-inter: "Inter", sans-serif;

    --color-mainGold: #D6C26A;
    --color-darkGold: #94812d;
    --color-notWhite: #EDF3F1;
    --color-notBlack: #1E1E1E;
    --color-cream:#F0EDD8;
    --color-darkGreen: #0F1E1C;
    --color-primary: #084643;
    --color-primaryBackground: #163331;
}